@import '../../../styles/variables.scss';

/* Style the tab */
.categories-navigation__tab {
    width: 100%;
    font-family: $font-family-heading;
    overflow: hidden;
    & > a {
        float: left;
        display: block;
        color: $color-heading;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
        &:hover {
            color: $color-primary;
            background-color: $color-secondary;
        }
        &.active {
            color: $color-primary;
            border-bottom: solid 3px $color-primary;
        }
    }
}

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.categories-navigation__dropdown {
    position: relative;
    display: table-row;

    &:hover {
        .categories-navigation__dropdown-content {
            display: block;
        }
    }

    .categories-navigation__dropbtn {
        background-color: $color-primary;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .categories-navigation__dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            background-color: #fff;
        }
    }
}
